<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
<form action="/formdata" method="POST">
    <label for="firstName">First name: </label>
    <input name="firstName" id="firstName" value=""><br>

    <label for="LastName">Last name: </label>
    <input name="lastName" id="lastName" value=""><br>

    <label for="age">Age : </label>
    <input name="age" type = "number" id="age" value=""><br>
    <button> Send </button>
</form>
</body>
</html>