<!DOCTYPE html>
<html>
<head>
    <title>TaskD</title>
</head>
<body>
    <% for(var i=0; i < Object.keys(data).length; i++) { %>
        <p><%= Object.keys(data)[i] + ":" + Object.values(data)[i]%></p>
    <% }%>
</body>
</html>
